.header {
    height: 60px;
    padding: 0 20px;
    display:flex;
    justify-content: space-between;

    &__title {
        font-size: 2em;
        display: flex;
        align-items: center;
        margin-left: 15%;
    }

    &__navigation {
        display: flex;
        align-items: center;
        margin-left: 3em;
        margin-right: 3em;
    }
    &__action {
        display: flex;
        align-items: center;
    }
}

.app-a {
    margin-left: 3em;
    margin-right: 3em;
}