.header {
    height: 60px;
    padding: 0 20px;
    display:flex;
    justify-content: space-around;

    &__title {
        font-size: 2em;
        display: flex;
        align-items: center; 
        margin-left: 3%;     
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        font-size: 1em;    
        margin-left: 5%;
    }
    &__action {
        display: flex;
        justify-content: space-around;
        align-items: center;   
        width: 15%;
    }
}

.app-a {
    margin-left: 3em;
    margin-right: 3em;
}