<div class="form__container">
    <div class="form">
        <div >
            <img class="form__hospital-logo" src="../../../assets/img/mcarthur.png">
        </div>
        <hr class="hr__bold">
        <div class="form__patient-information">
            <div class="form__patient-information__title">
                <h1> 언어 평가 보고서</h1>
                <p>Language Assessment Report</p>
            </div>
            <div class="form__patient-information__list">
                <p>asdasdasdasdasd</p>
                <p>asdasdasdasd</p>
                <p>asdasdasdasdasdasd</p>
            </div>
        </div>
        <hr class="hr__bold">
        <hr class="hr__bold">
        <div class="form__test-administrated">
            <div class="form__test-administrated__title">
                TEST ADMINISTRATED
            </div>
            <div class="form__test-administrated__list">
                <div *ngFor="let item of items">
                    <label class="checkbox">                        
                        <input 
                            type="checkbox" 
                            class="checkbox__input" 
                            [value]="item.value" [checked]="isChecked(item.value)"
                            (change)="onChanged(item.value,$event)"
                        >
                        {{item.label}}
                        <span class="checkbox__checkmark"></span>
                    </label></div>
            </div>
        </div>
        <hr class="hr__bold">
        <div class="form__evaluation">
            <hr class="hr__lightbold">
            <div class="form__background-information">
                <p class="form__background-information__title">
                    Evaluation1
                </p>
                <div class="form__background-information__evaluation">
                    <textarea class="form__background-information_text" ></textarea>
                </div>
                <hr class="hr__lightbold">
                <p class="form__background-information__title">
                    Evaluation2
                </p>                
                <div class="form__background-information__evaluation">
                    <textarea class="form__background-information_text" ></textarea>
                </div>
                <p class="form__background-information__title">
                    Evaluation3
                </p>
            </div>
            <hr class="hr__lightbold">           
            <div class="form__table-score">              
                <div *ngIf="value">
                    <ul>
                        <li *ngFor="let item of value; index as i" data-index="i" >
                            <div *ngIf="item==1">
                                <div class="form__table-score__title">{{i+1}}.맥아더-베이츠 의사소통발달 평가 기록지(K-MBCDI)
                                </div>                
                                <table class="form__table">
                                    <tr class="form__table__row-title">
                                        <td class="form__table_thead1">title</td>
                                        <td class="form__table_thead2">title</td>
                                        <td class="form__table_thead3">title</td>
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_tbody">
                                            <input type="number" class="form__table_input" (blur)="onBlurKbcdmiExpresstionScore($any($event.target).value)">
                                        </td>
                                        <td class="form__table_tbody"><input readonly class="form__table_input" [value]="kcbdmiExpressionPercent? kcbdmiExpressionPercent:null" ></td>                           
                                    </tr>
                                    <tr class="form__table__row-title">
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_tbody"><input class="form__table_input" (blur)="onBlurKbcdmiGrammarScore($any($event.target).value)"></td>
                                        <td class="form__table_tbody"><input readonly class="form__table_input" [value]="kcbdmiGrammarPercent? kcbdmiGrammarPercent:null" ></td>                           
                                    </tr>
                                </table> 
                                <div class="form__assessment__evaluation">
                                    <textarea class="form__assessment_text" ></textarea>
                                </div>
                            </div>
                            <div *ngIf="item==2">
                                <div class="form__table-score__title">{{i+1}}.영.유아 언어발달 검사 (Sequensed Language Scale for Infants(SELSI))</div>                
                                <table class="form__table">
                                    <tr class="form__table__row-title">
                                        <td colspan="2" class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">SELSI</td>
                                        <td class="form__table_thead-selsi">tilt</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>  
                                        <td rowspan="3"><input class="form__table_input" ></td>                       
                                    </tr>
                                    <tr >
                                        <td class="form__table_thead-selsi">tilt</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>       
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead-selsi">tilt</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>                          
                                    </tr>
                                </table> 
                                <div class="form__assessment__evaluation">
                                    <textarea class="form__assessment_text" ></textarea>
                                </div>
                            </div>
                            <div *ngIf="item==3">
                                <div class="form__table-score__title">{{i+1}}.취학 전 아동의 수용언어 및 표현언어 발달 척도 (PRES)
                                </div>                
                                <table class="form__table">
                                    <tr class="form__table__row-title_PRES">
                                        <td colspan="2" class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                        <td class="form__table_thead">title</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">PRES</td>
                                        <td class="form__table_thead-selsi">tilt</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>  
                                        <td rowspan="3"><input class="form__table_input" ></td>                       
                                    </tr>
                                    <tr >
                                        <td class="form__table_thead-selsi">tilt</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>       
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead-selsi">tilt</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>                          
                                    </tr>
                                </table>  
                                <div class="form__assessment__evaluation">
                                    <textarea class="form__assessment_text" ></textarea>
                                </div>  
                            </div>
                            <div *ngIf="item==4">
                                {{item}}
                            </div>
                        </li>
                    </ul>
                </div>
                
                <hr class="hr__lightbold">
            <div class="form__assessment">
                <p class="form__assessment__title">
                    summary of results and recommendations
                </p>
                <div class="form__assessment__evaluation">
                    <textarea class="form__assessment_text" ></textarea>
                </div>                                                  
             </div>
        </div>
        
        
    </div>
</div>
