@mixin center {
    text-align: center;
}
@import '../../../styles/colors.scss';
.form {
    &__container {
        width: 70em;
        padding: 4em;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }
    &__hospital-logo {
        width: 25%;
    }
    &__patient-information {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        &__title {
            @include center();
            font-size: 1.8em;
            letter-spacing: 0.2rem;
        }
        &__list {
            font-size: 1.35em;
        }
    }
    &__test-administrated {
        &__title {
            text-decoration: underline;
            font-weight: bold;
            padding-bottom: 0.5em;
            padding-left: 0.5em;
            font-size: 1.2em;
        }
    }
    &__evaluation {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        padding: 2em;
    }
    &__background-information {
        &__title {
            font-weight: bold;
            font-size: 1.5em;
        }
        &__evaluation {
            height: 8em;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            margin-bottom: 2em;
        }
        &_text {
            border: none;
            width: 98%;
            height: 95%;
        }
    }
    &__table-score {
        padding-left: 2em;
        padding-right: 2em;
        &__title {
            font-weight: bold;
            margin-top: 1em;
        }
    }
    &__table {
        @include center();
        border: 1px solid black;
        border-collapse: collapse;
        margin-top: 1em;
        margin-bottom: 1em;
        // width: 60em;
        &__row-title {
            background-color: blanchedalmond;
            border: 1px solid black;
            &_PRES {
                background-color: $primary-light;
            }
        }
        &_thead {
            padding-left: 3em;
            padding-right: 3em;
        }
        &_thead1 {
            padding-left: 4em;
            padding-right: 4em;
        }
        &_thead2 {
            padding-left: 4em;
            padding-right: 4em;
        }
        &_thead3 {
            padding-left: 6em;
            padding-right: 6em;
        }
        &_thead-selsi {
            padding-left: 0.8em;
            padding-right: 0.8em;
        }
        &_input {
            border: none;
            height: 100%;
            width: 98%;
        }
    }
    &__assessment {
        &__title {
            font-weight: bold;
            font-size: 1.5em;
        }
        &__evaluation {
            height: 12em;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            margin-bottom: 2em;
        }
        &_text {
            border: none;
            width: 98%;
            height: 95%;
        }
    }
}
td {
    border: 1px solid black;
    font-size: 1.35em;
    height: 1.5em;
}
ul {
    list-style-type: none;
}
.hr {
    &__bold {
        height: 2px;
        color: black;
        background-color: black;
    }
    &__lightbold {
        height: 1px;
        background-color: black;
        color: black;
    }
}
