<div class="form__container">
    <div class="form">
        <div >
            <img class="form__hospital-logo" src="../../../assets/img/mcarthur.png">
        </div>       
        <hr class="hr__bold">
        <div class="form__patient-information">
            <div class="form__patient-information__title">
                <div> 언 어 평 가 보 고 서</div>
                <div>Language Assessment Report</div>
            </div>
            <div class="form__patient-information__list">
                <div class="form__patient-information__list_col">
                    <p><span>성</span><span>명</span></p>
                    <p><span>연</span> <span>령</span></p>
                    <p><span>검</span> <span>사</span> <span>일</span></p>
                    <p><span>생</span> <span>년</span> <span>월</span> <span>일</span> </p>
                </div>
                <div class="form__patient-information__list_col-right">
                    <div class="form__patient-information__text-adjustment"> : <input></div>
                    <div> : <input></div>
                    <div> : <input></div>
                    <div> : <input></div>
                </div>
            </div>
        </div>
        <hr class="hr__bold">
        <hr class="hr__bold">
        <div class="form__test-administrated">
            <div class="form__test-administrated__title">
                TEST ADMINISTRATED
            </div>
            <div class="form__test-administrated__list">
                <div *ngFor="let item of items">
                    <label class="checkbox">                        
                        <input 
                            type="checkbox" 
                            class="checkbox__input" 
                            [value]="item.value" [checked]="isChecked(item.value)"
                            (change)="onChanged(item.value,$event)"
                        >
                        {{item.label}}
                        <span class="checkbox__checkmark"></span>
                    </label></div>
            </div>
        </div>
        <hr class="hr__bold">
        <div class="form__evaluation">
            <hr class="hr__bold">
            <div class="form__background-information">
                <p class="form__background-information__title">
                    배경정보
                </p>
                <hr class="hr__bold">
                <div class="form__background-information__evaluation">
                    <textarea class="form__background-information_text" ></textarea>
                </div>
                <hr class="hr__bold">
                <p class="form__background-information__title">
                    평가태도
                </p>  
                <hr class="hr__bold">              
                <div class="form__background-information__evaluation">
                    <textarea class="form__background-information_text" ></textarea>
                </div>
                <hr class="hr__bold">
                <p class="form__background-information__title">
                    평가결과
                </p>
                <hr class="hr__bold">
            </div>           
            <div class="form__table-score">              
                <div *ngIf="value">
                    <ul>
                        <li *ngFor="let item of value; index as i" data-index="i" >
                            <div *ngIf="item==1">
                                <div class="form__table-score__title">{{i+1}}.맥아더-베이츠 의사소통발달 평가 기록지(K-MBCDI)
                                </div>                
                                <table class="form__table">
                                    <tr class="form__table__row-title">
                                        <td class="form__table_thead-medium">낱말</td>
                                        <td class="form__table_thead-medium">원점수</td>
                                        <td class="form__table_thead-large">백분위 위치
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead">표현</td>
                                        <td class="form__table_tbody">
                                            <input type="number" class="form__table_input" (blur)="onBlurKbcdmiExpresstionScore($any($event.target).value)">
                                        </td>
                                        <td class="form__table_tbody"><input readonly class="form__table_input" [value]="kcbdmiExpressionPercent? kcbdmiExpressionPercent:null" ></td>                           
                                    </tr>
                                    <tr class="form__table__row-title">
                                        <td class="form__table_thead">문법</td>
                                        <td class="form__table_thead">원점수</td>
                                        <td class="form__table_thead">백분위 위치
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead">총점</td>
                                        <td class="form__table_tbody"><input class="form__table_input" (blur)="onBlurKbcdmiGrammarScore($any($event.target).value)"></td>
                                        <td class="form__table_tbody"><input readonly class="form__table_input" [value]="kcbdmiGrammarPercent? kcbdmiGrammarPercent:null" ></td>                           
                                    </tr>
                                </table> 
                                <div class="form__assessment__evaluation">
                                    <textarea class="form__assessment_text" ></textarea>
                                </div>
                            </div>
                            <div *ngIf="item==2">
                                <div class="form__table-score__title">{{i+1}}.영.유아 언어발달 검사 (Sequensed Language Scale for Infants(SELSI))</div>                
                                <table class="form__table">
                                    <tr class="form__table__row-title">
                                        <td colspan="2" class="form__table_thead">평가도구/영역
                                        </td>
                                        <td class="form__table_thead">원점수
                                        </td>
                                        <td class="form__table_thead">등가연력
                                        </td>
                                        <td class="form__table_thead">백분위위수
                                        </td>
                                        <td class="form__table_thead">비고
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">SELSI</td>
                                        <td class="form__table_thead-selsi">수용</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>  
                                        <td rowspan="3"><input class="form__table_input" ></td>                       
                                    </tr>
                                    <tr >
                                        <td class="form__table_thead-selsi">표현
                                        </td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>       
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead-selsi">전반</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>                          
                                    </tr>
                                </table> 
                                <div class="form__assessment__evaluation">
                                    <textarea class="form__assessment_text" ></textarea>
                                </div>
                            </div>
                            <div *ngIf="item==3">
                                <div class="form__table-score__title">{{i+1}}.취학 전 아동의 수용언어 및 표현언어 발달 척도 (PRES)
                                </div>                
                                <table class="form__table">
                                    <tr class="form__table__row-title_PRES">
                                        <td colspan="2" class="form__table_thead">평가도구/영역
                                        </td>
                                        <td class="form__table_thead">원점수</td>
                                        <td class="form__table_thead">등가연력</td>
                                        <td class="form__table_thead">백분위위수</td>
                                        <td class="form__table_thead">비고</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">PRES</td>
                                        <td class="form__table_thead-selsi">수용</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>  
                                        <td rowspan="3"><input class="form__table_input" ></td>                       
                                    </tr>
                                    <tr >
                                        <td class="form__table_thead-selsi">표현</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>       
                                    </tr>
                                    <tr>
                                        <td class="form__table_thead-selsi">전반</td>
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>   
                                        <td class="form__table_tbody"><input class="form__table_input" ></td> 
                                        <td class="form__table_tbody"><input class="form__table_input" ></td>                          
                                    </tr>
                                </table>  
                                <div class="form__assessment__evaluation">
                                    <textarea class="form__assessment_text" ></textarea>
                                </div>  
                            </div>
                        </li>
                    </ul>
                </div>           
            </div>        
        </div>
    <div class="form__assessment">
        <hr class="hr__bold">
        <p class="form__assessment__title">
            결과요약 및 제언
        </p>
        <hr class="hr__bold">
        <div class="form__assessment__evaluation">
            <textarea class="form__assessment_text" ></textarea>
        </div>                                                  
    </div>            
</div>
