@mixin center {
    text-align: center !important;
}
@mixin textbold {
    font-weight: bold;
}
@import '../../../styles/colors.scss';
.form {
    &__container {
        width: 70em;
        margin-left: auto;
        margin-right: auto;
        padding: 4em;
        border-style: solid;
        border-width: 0.5em;
        border-color: black;
        word-spacing: 0.3em;
        @include textbold();
        font-family: 'Noto Sans', sans-serif;
    }
    &__hospital-logo {
        width: 25%;
    }
    &__patient-information {
        display: flex;
        justify-content: space-around;
        font-weight: 900;
        font-size: 1.2em;
        &__title {
            @include center();
            font-size: 1.8em;
            font-weight: 2200;
            letter-spacing: 0.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        &__list {
            width: 30%;
            display: flex;
            justify-content: space-around;
            font-size: 1.2em;
            &_col {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
        & p {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        & input {
            font-size: 1.1em;
            width: 89%;
            height: 100%;
            border: none;
            @include textbold();
        }
    }
    &__test-administrated {
        &__title {
            text-decoration: underline;
            padding-bottom: 0.5em;
            padding-left: 0.5em;
            font-size: 1.4em;
            font-weight: bolder;
        }
    }
    &__evaluation {
        border-style: solid;
        border-width: 1px;
        border-color: black;
        padding: 2em;
    }
    &__background-information {
        &__title {
            font-size: 1.5em;
        }
        &__evaluation {
            height: 8em;
            // border-top: 1px solid black;
            // border-bottom: 1px solid black;
            margin-bottom: 2em;
        }
        &_text {
            border: none;
            width: 98%;
            height: 95%;
        }
    }
    &__table-score {
        padding-left: 2em;
        padding-right: 2em;
        &__title {
            @include textbold();
            margin-top: 1em;
        }
    }
    &__table {
        @include center();
        border: 1px solid black;
        border-collapse: collapse;
        margin-top: 1em;
        margin-bottom: 1em;
        &__row-title {
            background-color: blanchedalmond;
            border: 1px solid black;
            &_PRES {
                background-color: $primary-light;
            }
        }
        &_thead {
            padding-left: 3em;
            padding-right: 3em;
        }
        &_thead-medium {
            padding-left: 4.5em;
            padding-right: 4.5em;
        }
        &_thead-large {
            padding-left: 7em;
            padding-right: 7em;
        }
        &_thead-selsi {
            padding-left: 0.8em;
            padding-right: 0.8em;
        }
        &_input {
            border: none;
            height: 100%;
            width: 98%;
        }
    }
    &__assessment {
        &__title {
            font-size: 1.5em;
        }
        &__evaluation {
            height: 12em;
            // border-top: 1px solid black;
            // border-bottom: 1px solid black;
            margin-bottom: 2em;
        }
        &_text {
            border: none;
            width: 98%;
            height: 95%;
        }
    }
}
td {
    border: 1px solid black;
    font-size: 1em;
    height: 1.5em;
}
ul {
    list-style-type: none;
}
.hr {
    color: black;
    background-color: black;
    &__bold {
        height: 2px;
        color: black;
        background-color: black;
    }
    &__lightbold {
        height: 1px;
        color: black;
        background-color: black;
    }
}
