.homepage {
  height: 100%;
  &__banner {
    width: 100%;
    height: 500px;
    left: 0px;
    top: 0px;
    z-index: -1;
    &_img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__login {
    left: 2%;
    width: 14%;
    top: 25%;
    position: absolute;
  }
  &__infnotice {
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  &__intro {
    position: relative;
    top: 50px;
    width: 60%;
    margin: auto;
  }
  &__info {
    position: relative;
    top: 100px;
    width: 80%;
    margin: auto;
  }
}
.border-red {
  border-width: 2px;
  border: red;
  border-style: solid;
}
